
.blog_container {
  padding: 3% 10%;
}

.blog_content {
  display: flex;
  background: #b6b6b624;
  display: flex;
  flex-wrap: wrap;
}
.blog_content p {
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
  word-spacing: .2rem;
  color: rgb(123, 118, 95);;
}

.blog_description {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.blog_title h2 {
  color: rgb(0, 130, 173);;
}
.content_image {
  overflow: hidden;

}

.content_image,
.blog_description {
  /* padding: 0.5rem; */
  /* margin: 0.5rem; */
  width: 100%;

}


.content_image img {
  width: 100%;
}
.date {
  padding: .5rem 0;
}

.date p{
  color: rgba(139, 139, 139, 0.714);
}