
.search_bar {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    right: 0;
    top: 0;
    justify-content: right;
  }
  
  .search_bar input {
    width: 100%;
    background: #0000005c;
    color: white;
    border-style: none;
    margin: 0 .3rem;
    padding: .2rem .5rem;
    border: .5px solid rgb(67, 67, 67);
    border-radius: 8px;
  }
  
  .search_bar svg {
    padding: 0 5px;
    cursor: pointer;
    color: var(--text-color);
  }
  
  .search_links {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    z-index: -1;
  }
  
  
  .search_ccontent {
    width: 100%;
    display: flex;
  }
  
  .search_iconfield {
    display: flex;
    align-items: center;
  }
  
  .search_content p{
    padding: 2px 0;
    margin: 0;
    color: var(--text-color);
    padding: .5rem 2rem;
    background: var(--background);
  }
  
  .search_container {
    position: absolute;
    top: 60px;
    width: 50%;
    max-height: 60%;
    border-radius: 5px;
    overflow-x: hidden;
    box-shadow: 1px -1px 5px 0 #00000028;
  }