.tracking_in_expand {
    -webkit-animation: tracking_in_expand .3s cubic-bezier(0.215, 0.61, 0.355, 1)
      both;
    animation: tracking_in_expand .3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    transition: .4s all ease-in-out;
  }
  
  @-webkit-keyframes tracking_in_expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking_in_expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }


  .fade_in {
    -webkit-animation: fade_in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade_in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  
  @-webkit-keyframes fade_in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade_in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
