.iframe_container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  z-index: 2;
}

.iframe_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.photo_container {
  /* width: 60%; */
  height: 100%;
  background: #f6f6f6;
  border-radius: 10px;
  display: flex;


  /* margin-top: 40%; */
  /* overflow: scroll; */
}

.photo_container_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin: 0%; */
  /* width: 60%; */
  /* height: 100vh; */
  overflow: scroll;
}

.photo_container_img  a{
  padding: 2rem;
}

.photo_container_img img{
  width: 60%;
  /* height: 100%; */
}


.category_title {
  margin: 0 1rem;
  padding: 1rem 0.5rem 0.3rem 1.5rem;
  color: rgb(0, 157, 214);
}

.photo_container p {
  padding: 0.5rem;
  margin: 1rem 0;
  color: deepskyblue;
}

.Clickedimage_description {
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
}
.external_link {
  font-size: 10px;
  /* padding: .2rem .5rem; */
  display: flex;
  align-items: center;
}

.clickedimage_title {
  width: 100%;
  padding: 0 0.3rem;
}
.clickedimage_title h2 {
  padding: 0;
  margin: 0;
  color: rgb(120, 51, 51);
  display: flex;
  align-items: center;
}
.clickedimage_title h3 {
  color: deepskyblue;
  cursor: pointer;
}
.clickedimage_title P {
  color: rgb(37, 31, 23);
}

.clickedimage_title p,
.clickedimage_title h3 {
  padding: 0;
  margin: 0;
  padding: 0 0.5rem;
  font-size: 15px;
}

.arrow {
  margin-left: 0.5rem;
}

.userDiv {
  background: rgb(0 0 0 / 75%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: scroll; */
}

.userContainer {
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 1rem;
  margin: 5%;
  z-index: 1;
  width: 50%;
  height: 90%;
  flex-wrap: wrap;
  overflow: scroll;
}
.user_img {
  width: 100%;
  display: flex;
  align-items: baseline;
  padding: 1%;
}

.user_img img {
  width: 80%;
}

.user_portfolio h2 {
  /* width: 50%; */
  color: wheat;
  background: black;
  padding: .4rem;
  border-radius: 5px;
}

.user_description h1 {
  margin: 0;
  margin-left: 10px;
  font-weight: bolder;
  font-size: 40px;
}

.user_description p {
  margin: 0.7rem 0.5rem;
  padding: 0;
  line-height: 1.3rem;
  word-spacing: .3rem;
}

.close_user {
  font-size: 30px;
  cursor: pointer;
}


@media screen and (max-width: 768px) {

  .userContainer {
    width: unset;
  }
  .user_description {
    width: unset;
  }

  .user_img img {
    margin: 0.5rem;
    display: flex;
  }
  .user_img {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .user_description h1 {
    margin-left: 5px;
  }
}

